<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory=".phpunit.cache"
>
  <coverage>
    <include>
      <directory>./lib</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Doctrine Static Website Generator Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
